
@using System.Globalization
@model List<ShoppingKart.ViewModels.ProductOffersViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table class="table product-list-table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Offer</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @{
            for (int i = 0; i < Model.Count(); i++)
                {

                    var numberName = "Amount" + Model[i].Id;

                    <tr>
                        <td class="col-md-2">
                            @Model[i].Name
                        </td>
                        <td class="col-md-2">
                            @Model[i].Price
                        </td>
                        <td class="col-md-2">
                            @if (Model[i].Offer != null)
                            {
                            <span>@Model[i].Offer.Number for £ @Model[i].Offer.OfferedPrice</span>
                            }
                        </td>
                        <td class="col-md-2">
                            @using (Html.BeginForm("CalculateAmount", "Checkout", new { productId = Model[i].Id }))
                            {
                                <div class="form-group quantity-container">
                                    @Html.TextBoxFor(a => a[i].Amount, new {type = "number", min = "1", step = "1", @class = "number-box", Name = "Amount"})
                                </div>
                                <input type="hidden" name="Index" value="@i"/>
                                <button type="submit" class="btn btn-primary" value="@Model[i].Id">Add to Card</button>
                            }
                        </td>
                    </tr>
                      

                }
        }
        </tbody>
    </table>        
</div>




